.content-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.hidden {
    display: none;
}

.btn-container {
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #012340;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(235, 230, 230, 0.868);

}

.sidebar h2 {
    color: #FFD700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    transition: 0.3s;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: #FFD700;
    color: black;
    border-radius: 5px;
}

.sidebar .logout {
    text-align: center;
    margin-top: auto;
}

.sidebar .logout a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f4d160;
    border-radius: 5px;
}

.sidebar .logout a:hover {
    background-color: #e4c150;
}   

.main-content {
    flex-grow: 1;
    margin-left: 250px;
    /* 让内容向右移动，避免被遮挡 */
    padding: 20px;
}


.hidden {
    display: none;
}

.filter-container {
    margin-bottom: 20px;
}

.btn-container {
    margin: 10px 0;
}

#chartSection {
    justify-content: center;
    /* 居中 */
    align-items: center;
    width: 100%;
    height: 400px;
    /* 适当调整高度 */
    max-width: 800px;
    /* 限制最大宽度 */
    margin: 0 auto;
    /* 居中对齐 */
}

canvas {
    max-width: 100% !important;
    height: auto !important;
}