h2{
    color:gold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #d3d3d3, #001f3f);
    /* Gradient Background */
    width: 100%;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #012340;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(235, 230, 230, 0.868);

}

.sidebar h2 {
    color: #FFD700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    transition: 0.3s;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: #FFD700;
    color: black;
    border-radius: 5px;
}

.sidebar .logout {
    text-align: center;
    margin-top: auto;
}

.sidebar .logout a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f4d160;
    border-radius: 5px;
}

.sidebar .logout a:hover {
    background-color: #e4c150;
}